{% extends "index.html" %}

{% block about %}

<div id="about">		
	<h2>About</h2>
	<p>
	I am a project manager and a mechanical engineer alumni of <a href="http://www2.ulaval.ca/" target="_blank">Laval University</a>. Recently moved to San Francisco and currently looking for new challenges. Although my background is in project management and mechanical engineering. I have worked for <a href="http://legroupeid.com/en/" target="_blank"> ID Group</a>, a software company, and would love to do so again. <br/><br/>I managed the deployment and integration of software in different industries such as mining, manufacturing and pharmaceutical. I have worked closely with the engineering team on the last release of the software by developing training manual on the new features and trained all the staff. I have knowledge of the difference software life cycle, PMI and Agile methodologies. I am self studying programming to improve my knowledge.<br/><br/>
	If you think I have the skill to be part of your team, feel free to contact me for more information.  
	</p>
	<h2>Skills</h2>
	<div class="row-fluid">
		<div class="span6 boxbg all-round">
			<h4>MANAGEMENT</h4>
			<ul>
				<li>Experienced using PMI standards</li>
				<li>Certified ScrumMaster (Scrum Alliance)</li>
				<li>High level skill MS Project</li>
				<li>Scrum tools (pivotal tracker, Scrumworks )</li>
			</ul>
		</div> <!-- end span-->
		<div class="span6 boxbg all-round">
			<h4>PROGRAMMING</h4>
			<ul>
				<li>HTML, CSS, JS</li>
				<li>Python</li>
				<li>Django</li>
				<li>C</li>
				<li>Visual Basic .Net</li>
				<li>Matlab</li>
				<li>Maple</li>
			</ul>
		</div> <!-- end span-->
	</div><!-- end row-->
</div><!-- end id=about-->
				
{% endblock %}