{% extends "base.html" %}

{% block content %}
		
		<!-- ================================ Masterhead ================================ -->
		<div class="container">
            <header class="jumbotron subhead" id ="overview">
                <h1>Portfolio</h1>
            </header>
	    </div> <!--end div container-->
	    <!--<div class="instagram"></div>-->
<section id = "global">	
    <div class="container_project container" >
        <div class="opacity">    
            <img class='preview' src='{{ STATIC_URL }}images/dogether_preview.jpg'>
            <div class='project_desc'>
                <p>
                Dogether is my final project at Hackbright Academy. Dogether is a project management tool – 
                similar to Asana. Where everything happening on one single page.</p> 
                <p>Built with Django, JavaScript, Backbonejs and PostgreSQL.</p>
                <p>I wrote all the code for that project</p> 
                <a href='https://github.com/andreebrazeau/Dogether/tree/backbone'
                target='blank'>https://github.com/andreebrazeau/Dogether/tree/backbone</a>
            </div>
       </div><!--end row-fluid-->
    </div> <!--end container-->
    <div class="container_project container" >
        <div class="opacity">    
            <img class='preview' src='{{ STATIC_URL }}images/munimobile_preview.jpg'>
            <img src='{{ STATIC_URL }}images/medal.png' id='medal'>
            <div class='project_desc'>
                <p>
                MuniMobile is the second place winner project of the Linkedin DevelopHer
                Hackathon presented at the end of June 2012. MuniMobile is a web application 
                that will text you scheduled, real-time updates of Muni buses approching your
                stop. </p> 
                <p>Built on Django, we used NextBus and Twilio APIs. All the backend has beeen 
                developed in Python and the front end in JavaScript and JSON.</p>
                <p>I wrote a good part of the backend.</p> 
                <a href='http://munimobile.herokuapp.com'
                target='blank'>http://munimobile.herokuapp.com</a>
            </div>
       </div><!--end row-fluid-->
    </div> <!--end container-->
    <div class="container_project container" >
        <div class="opacity">    
            <img class='preview' src='{{ STATIC_URL }}images/photovoyage_preview.jpg'>
            <img src='{{ STATIC_URL }}images/medal1st.png' id='medal'>
            <div class='project_desc'>
                <p>Photovoyage was created at the Photo Hack Day 3 in San Francisco
                in July 2012. This application won the first place for using 500px API.
                Photovayage is a novel way to discover the world from home.</p> 
                <p>Built on Flask, we used 500px API. All the backend has been 
                developed in Python. The front end in JavaScript and JSON.</p>  
                <p>I wrote part of the backend and the front end. Working on the
                picture collage.</p> 
                <a href='https://photovoyage.herokuapp.com'
                target='blank'>https://photovoyage.herokuapp.com</a>
            </div>
       </div><!--end row-fluid-->
    </div> <!--end container-->
    <div class="container_project container" >
        <div class="opacity">    
            <img class='preview' src='{{ STATIC_URL }}images/photocollage_preview.jpg'>
            <div class='project_desc'>
                <p>This photo collage was a good part of the Photovoyage
                project. Photo collage is a API built in Javascript to help
                build a nice collage.</p> 
                <p>I worked on the algorithm.</p>  
                <a href='https://github.com/jinxdabinx/collage'
                target='blank'>https://github.com/jinxdabinx/collage</a>
            </div>
       </div><!--end row-fluid-->
    </div> <!--end container-->
</section>	



{% endblock %}
