{% extends "base.html" %}

{% block content %}
		
		<!-- ================================ Masterhead ================================ -->
		<div class="container">
            <header class="jumbotron subhead" id ="overview">
                <h1>Portfolio</h1>
            </header>
	    </div> <!--end div container-->
	    <!--<div class="instagram"></div>-->
<section id = "global">	
    <div class="container" >
        <div class="opacity">    
            <a href='http://munimobile.herokuapp.com' target='blank'>
                <img src='/media/static/images/munimobile_preview.png'>
                <img src='/media/static/images/medal.png' id='medal'>
            </a>
            <div class='project_desc' id='munimobile'>
                <p>
                MuniMobile is the second place winner project of the Linkedin DevelopHer
                Hackathon presented at the end of June2012. MuniMobile is a web application 
                that will test you schedules, real-time updates of Muni buses approching your
                stop. </p> 
                <p>Built on Django. We used NextBus api and Twilio. All the backend has beeen 
                developt in Python. The front end in JavaScript and Json.</p>  
            </div>
       </div><!--end row-fluid-->
    </div> <!--end container-->
</section>	



{% endblock %}
