{% extends "base.html" %}

{% block content %}
		
		<!-- ================================ Masterhead ================================ -->
		<div class="container">
            <header class="jumbotron subhead" id ="overview">
                <h1>Portfolio</h1>
            </header>
	    </div> <!--end div container-->
	    <!--<div class="instagram"></div>-->
<section id = "global">	
    <div class="container_project container" >
        <div class="opacity">    
            <img class='preview' src='/media/static/images/munimobile_preview.png'>
            <img src='/media/static/images/medal.png' id='medal'>
            <div class='project_desc'>
                <p>
                MuniMobile is the second place winner project of the Linkedin DevelopHer
                Hackathon presented at the end of June2012. MuniMobile is a web application 
                that will text you schedules, real-time updates of Muni buses approching your
                stop. </p> 
                <p>Built on Django. We used NextBus and Twilio APIs. All the backend has beeen 
                developed in Python. The front end in JavaScript and JSON.</p>
                <p>I wrote a good part of the backend.</a> 
                <a href='http://munimobile.herokuapp.com'
                target='blank'>http://munimobile.herokuapp.com</a>
            </div>
       </div><!--end row-fluid-->
    </div> <!--end container-->
    <div class="container_project container" >
        <div class="opacity">    
            <img class='preview' src='/media/static/images/photovoyage_preview.png'>
            <img src='/media/static/images/medal1st.png' id='medal'>
            <div class='project_desc'>
                <p>Photovoyage was created at the Photo Hack Day 3 in San Francisco
                in July 2012. We won the first place for using 500px API.
                Photovayage is a novel way to discover the world from home.</p> 
                <p>Built on Flask. We used 500px API. All the backend has beeen 
                developt in Python. The front end in JavaScript and Json.</p>  
                <p>I wrote part of the backend and the front end. Working on the
                picture collage.</p> 
                <a href='https://github.com/jinxdabinx/collage'
                target='blank'>https://github.com/jinxdabinx/collage</a>
            </div>
       </div><!--end row-fluid-->
    </div> <!--end container-->
    <div class="container_project container" >
        <div class="opacity">    
            <img class='preview' src='/media/static/images/photocollage_preview.png'>
            <div class='project_desc'>
                <p>This Photo Collage was a good part of the Phootvoyage
                project. Photo collage is a API built in Javascript to help
                build a nice collage.</p> 
                <p>I worked on the algorithm.</p>  
                <a href='https://github.com/jinxdabinx/collage'
                target='blank'>https://github.com/jinxdabinx/collage</a>
            </div>
       </div><!--end row-fluid-->
    </div> <!--end container-->
</section>	



{% endblock %}
